#center{
   display: flex;
   justify-content: center;
}
#input{
   width: 30%;
   padding: 10px;
   font-size: 20px;
   margin-right: 5px;
}
#button{
   width: 15%;
   padding: 10px;
   font-size: 20px;
   background-color:#008CBA;
   border: none;
   border-radius: 10px;
   color: white;
}
.center{
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
   
}